/* create new blog form */
.create {
    padding-top: 100px;
    max-width: 400px;
    margin: 0 auto;
    text-align: center;
  
    label {
      text-align: left;
      display: block;
    }
  
    h2 {
      font-size: 20px;
      color: #61dafb;
      margin-bottom: 30px;
    }
  
    input,
    textarea,
    select {
      width: 100%;
      padding: 6px 10px;
      margin: 10px 0;
      border: 1px solid #ddd;
      display: block;
      outline: none;
    }
  
    input:focus,
    textarea:focus,
    select:focus {
      border-color: #61dafb;
    }
  
    select {
      margin-bottom: 50px;
    }
  
  }
  
  @media screen and (max-width:768px) {
  .create {
    width: 50%;
    // Select-option width dosen't work
    select:after {
      max-width: 50px;
    }
  }
}