.btm-border {
    border-bottom: 5px solid #61dafb;
}
.txt-center {
    text-align: center;
}

.m-btm-10 {
margin-bottom: 10px;
}

.m-top-20 {
    margin-top: 20px;
}

.m-top-10 {
    margin-top: 10px;
}