// Navbar Style
.navbar {
    z-index: 1;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: #20232a;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-around;
  
    .logo {
      width: 50px;
      height: 50px;
  
      &:hover {
        transform: scale(1.08);
      }
    }
  
    .links {
      display: flex;
      justify-content: space-around;
      width: 15%;

      a {
        font-size: 20px;
       // padding: 0 20px;
        text-decoration: none;
        color: white;
        font-weight: bold;
  
        &:hover {
          color: #61dafb;
          transition: color 0.2s ease-out;
        }
      }
    }

    .burger {
      display: none;  
      cursor: pointer; 
      div {
      width: 25px;
      height: 3px;
      background: #fff;
      margin: 5px;
    }
  }
  .nav-active {
    transform: translateX(0%);
  }
}