@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

/* base styles */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Quicksand";
}

body {
  h2 {
    color: #fff;
    font-size: 1.5rem;
  }

  h1 {
    font-size: 2rem;
    color: #fff;
  }
}

// Page Loader / Loading Message
.loader {
  width: 250px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: helvetica, arial, sans-serif;
  text-transform: uppercase;
  font-weight: 900;
  color: #61dafb;
  letter-spacing: 0.2em;

  &::before,
  &::after {
    content: "";
    display: block;
    width: 15px;
    height: 15px;
    background: #61dafb;
    position: absolute;
    animation: load .7s infinite alternate ease-in-out;
  }

  &::before {
    top: 0;
  }

  &::after {
    bottom: 0;
  }

  @keyframes load {
    0% {
      left: 0;
      height: 30px;
      width: 15px
    }

    50% {
      height: 8px;
      width: 40px
    }

    100% {
      left: 235px;
      height: 30px;
      width: 15px
    }
  }
}
// Home style
.content {
  width: 100%;
  margin-top: 100px;
  min-height: 100vh;
  display: flex;
  justify-content: center;

  .container {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
}


@media screen and (max-width:768px) {
  body {
    overflow-x: hidden;
    h2 {
      font-size: 34px;
    }
    p {
      font-size: 18px;
    }
  }
}